// breakpoints

$break-mobile: 600px;
$break-tablet: 800px;
$break-smallDesktop: 1024px;
$break-largeDesktorp: 1025px;

// colors
// $main-color: #d96704;
$main-color: #3b4d70;

$light-grey: #f2f2f3;

$black: #000000;

// $secondary-color: #e6a407;
// $secondary-color: #e9b069;
$secondary-color: #3b4da3;
$dark-background: rgb(30, 32, 36);

// fonts
$font-main: Montserrat;
$font-second: "Lato", sans-serif;

//pattern
$pattern: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}
