@import "_variable";
@import "_mixins";
@import "_animation";

.building {
  min-height: 80vh;
  background: $pattern;
  background-size: 2em 2em;
  background-color: #232323;
  padding-top: 300px;

  & h2 {
    display: block;
    color: white;
  }
}
