@import "_variable";
@import "_mixins";

.footer {
  background: black;
  color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  &__logo {
    display: flex;

    flex-direction: column;
    & img {
      height: 100px;
    }
  }

  &__links {
    width: 60vw;

    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;

    @include for-tablet {
      flex-direction: column;
    }

    & a {
      color: grey;
      text-decoration: none;
      display: block;
      padding: 20px 0;
      height: 20px;
      font-size: 10px;
      &:hover {
        color: white;
      }

      @include for-tablet {
        padding: 0;
      }
    }

    @include for-phone-only {
      margin-top: 20px;
    }
  }

  &__credits {
    padding-top: 0px;
    font-size: 12px;
    & a {
      // color: ;
      text-decoration: none;
      color: $secondary-color;
    }
    @include for-phone-only {
      text-align: center;
    }
  }
}
